.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px;
    right: 6px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}
label[for="chart_category_drilldown"] {
    margin-right: 10px;
}