<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <b>{{ msg }}</b>
            </div>
        </div>
    </div>
</div>
